[user]
	name = Yasuharu Yanamura
	email = yanamura3@gmail.com
[core]
	editor = emacs
	excludesfile = /Users/yanamura/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/yanamura/.git_commit_template
[url "git@github.com:"]
	insteadOf = https://github.com/
[hub]
	protocol = https
[branch]
	sort = -authordate
[log]
	date = iso
[alias]
	lg = log --color=auto --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	blg = branch --format '%(color:red)%(objectname:short)%(color:reset) %(color:green)%(committerdate:iso)%(color:reset) %(subject) %(color:bold blue)-- %(authorname)%(color:reset) %(color:yellow)(%(refname:short))%(color:reset)'
	br = branch --format '%(color:green)%(committerdate:short) %(color:bold blue) %(color:yellow)(%(refname:short))%(color:reset) %(authorname)%(color:reset)'
	dc = diff --cached
